<button mat-raised-button (click)="addType()">Add</button>
<div class="container">

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let type of typeList">
            <td>{{type.idWhiskeyType}}</td>
            <td>{{type.name}}</td>
            <td>
                <button mat-raised-button type="button" color="primary" (click)="updateType(type)">Edit</button>

            </td>
            <td>
                <button mat-mini-fab color="primary" (click)="deleteType(type.idWhiskeyType)">
                  <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>