.container{
    display: flex;
    justify-content: space-between;

    .data{
        width: 100%;
        height: fit-content;
        overflow: auto;
        th,td{
            text-align: center;
        }
    }


    .filter{

        display: flex;
        flex-direction: column;

    }
}