<button mat-raised-button (click)="addEmployee()">Add</button>

<div class="container">

  <table>
      <tr>
          <th></th>
          <th>ID</th>
          <th>Shop</th>
          <th>Department</th>
          <th>Type</th>
          <th>Name</th>
          <th>Last Names</th>
          <th>Local Salary</th>
          <th>Dollar Salary</th>
          <th>Username</th>
          <th>Edit</th>
          <th>Reviews</th>
      </tr>
      <tr *ngFor="let employee of employees">
          <td>
            <button mat-icon-button color="primary" (click)="deleteEmployee(employee.idEmployee)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
          <td>{{employee.idEmployee}}</td>
          <td>{{employee.idShop}}</td>
          <td>{{findDepartment(employee.idDepartment)?.name}}</td>
          <td>{{findType(employee.idEmployeeType)?.name}}</td>
          <td>{{employee.name}}</td>
          <td>{{employee.lastName1}} {{employee.lastName2}}</td>
          <td>{{employee.localSalary}}</td>
          <td>{{employee.dollarSalary}}</td>
          <td>{{employee.username}}</td>
          <td>
            <button mat-raised-button type="button" color="primary" (click)="updateEmployee(employee)">Edit</button>
          </td>
          <td>
            <button mat-mini-fab (click)="openReviews(employee.idEmployee)">
              <mat-icon>reviews</mat-icon>
            </button>
          </td>
          
      </tr>
  </table>
</div>
