.container{
  display: flex;
  justify-content: center;
  
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 85%;

  table{
      width: 100%;
      overflow: auto;
      th,td{
          text-align: center;
      }

  }
}