.formContainer{
    display: flex;
    justify-content: space-around;
  }
  
  .productInformation{
    display: flex;
    flex-direction: column;
  }
  
  .productCharacteristics{
    display: flex;
    flex-direction: column;
  }
  