
<div class="container">

    <table>
        <tr>
            <th></th>
            <th>Customer ID</th>
            <th>Comment</th>
            <th>Evaluation</th>
            <th>Date</th>
        </tr>
        <tr *ngFor="let review of this.data.reviews">
            <td>Customer id: {{review.idCustomer}}</td>
            <td>Comment: {{review.comment}}</td>
            <td>evaluation: {{review.evaluation}}</td>
            <td>date: {{review.date}}</td>
        </tr>
    </table>
  </div>

