<div class="container">

    <div *ngIf="apiLoaded | async">
        <google-map 
        (mapClick)="addMarker($event)"
        [center]="center"
        [zoom]="zoom">
            <map-marker *ngIf="this.markerPosition !== undefined"
            [position]="markerPosition"
            [options]="markerOptions"></map-marker>
        </google-map>
    </div>

    <form action="post" [formGroup]="customerSignup" (ngSubmit)="submitNewCustomer()"> 

        <h1>New Account</h1>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Ex: Adan" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>First Last Name</mat-label>
            <input matInput type="text" alt="lastName" formControlName="lastName1">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Second Last Name</mat-label>
            <input matInput type="text" alt="lastName" formControlName="lastName2">
        </mat-form-field>
  

        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Ex: adan18" formControlName="username">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="New Password" formControlName="password" minlength="8" maxlength="64" (click)="openAlert()">
        </mat-form-field>

        <div class="personalInfo">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex: adan18@fakemail.com" formControlName="email">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput type="number" placeholder="Ex: 876541234" minlength="8" maxlength="8" formControlName="phone">
            </mat-form-field>
        </div>
        
        <button mat-raised-button type="submit" color="primary">Sign Up</button>

    </form>

</div>
