.container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: calc(100% - 50px);
    

    form{
        display: flex;
        flex-direction: column;

        width: 425px;

        text-align: center;

        .personalInfo{
            display: flex;
            justify-content: space-between;
        }

    }
}
