<div class="container">

    <table>
        <tr>
            <th>Sale ID</th>
            <th>Shipping Cost</th>
            <th>Sale Discount</th>
            <th>Subtotal</th>
            <th>Total</th>
            <th>Date</th>
            <th>Report</th>
        </tr>
        <tr *ngFor="let order of orderList">
            <td>{{order.idSale}}</td>
            <td>{{order.saleDiscount}}</td>
            <td>{{order.saleDiscount}}</td>
            <td>{{order.subTotal}}</td>
            <td>{{order.total}}</td>
            <td>{{order.date}}</td>
            <td>
                <button mat-icon-button color="warn" (click)="openReport(order)">
                  <mat-icon>report</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</div>
