.navbar{
  display: flex;
  justify-content: space-between;

  height: 50px;

  position: sticky;
  top: 0px;

  z-index: 99;

}

.navBrand{
  text-decoration: none;
}
.navLink{
  padding-right: 1rem;
}
