<form class="container" [formGroup]="updateItem">

    <h1>{{data.item.idSubscription}}</h1>

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Shopping Discount</mat-label>
        <input matInput type="number" formControlName="shoppingDiscount">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Shipping Discount</mat-label>
        <input matInput type="number" formControlName="shippingDiscount">
    </mat-form-field>

    <button mat-raised-button [mat-dialog-close]="updateItem.value" cdkFocusInitial>Ok</button>

</form>