.container{
    display: flex;
    flex-direction: column;

    .review{
        max-height: 40%;
        overflow-y: auto;
    }

    .form{  
        display: flex;
        flex-direction: column;
    }
}